<div id="about" class="container">

    <div class="page-header">
        <h1>About <small>me</small></h1>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <p><i class="fa fa-user fa-4x"></i></p>
            <h1 class="mt20"> Who am I?</h1>
            <p class="mt20">My name is Yago and I am passionated about web design and programming</p>
        </div>
        <div class="col-md-4 text-center">
            <p><i class="fa fa-question-circle fa-4x"></i></p>
            <h1 class="mt20">What i like to do?</h1>
            <p class="mt20">I like to learn and explore new technologies and development environments . I also like to take a look at new and amazing projects to see how they evolve</p>
        </div>
        <div class="col-md-4 text-center">
            <p><i class="fa fa-pencil fa-4x"></i></p>
            <h1 class="mt20">How can you contact me?</h1>
            <ul class="list-group mt20">
                <li class="list-group-item lead"><a href="https://github.com/yagopv" target="_blank"><i class="icon-github"></i>Github</a></li>
                <li class="list-group-item lead"><a href="https://twitter.com/yperezva" target="_blank"><i class="icon-twitter-sign"></i>Twitter</a></li>
                <li class="list-group-item lead"><a href="http://es.linkedin.com/pub/yago-p%C3%A9rez-v%C3%A1zquez/45/453/381" target="_blank"><i class="icon-linkedin-sign"></i>LinkedIn</a></li>
            </ul>
        </div>
    </div>

</div>