/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 75px;
}

footer {
    position: absolute;
    padding: 20px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #eceeef;
}

.row {
    margin-top: 5px;
}

.validationSummary {
    margin-top: 10px;
}

/* Nav bar */
.navbar-inverse {
    border: none;
}

/* Home & 404 */

#home .jumbotron i {
    display: block;
    font-size: 13em;
}

#notFound .jumbotron i {
    display: block;
    font-size: 20em;
}

@media (min-width: 992px) {
    #home .heading p:first-of-type,#notFound .heading p:first-of-type {
        height: 100px;
    }
}

#notFound h1 {
    font-size: 10em;
}

/* Dashboard */

.contact .contact-row em {
    opacity: .35;
}

/* Edit */

@media (max-width: 767px) {
    #edit-contact .toolbar button {
        width: 100%;
    }

}

/* Bootstrap overrides */

.card {
    cursor: pointer;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.card.scale {
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}

/* Edit contact */
.hide-after:after {
    display: none;
}

/* ngDialog */
.ngdialog.ngdialog-theme-plain .ngdialog-content {
    padding: 2em;
    width: 600px;
}

/* Helpers */
.opacity50 {
    opacity: .5;
}

.loader-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: .5;
}

.loader {
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.loader i {
    position: absolute;
    left: 50%;
}

.float-right {
    float: right;
}

/* Login */

.center-form {
    width: 400px;
    margin: 0 auto;
}

.signup-or-separator {
    position: relative;
    height: 34px;
    text-align: center;
    background: none;
}

.signup-or-separator hr {
    width: 90%;
    margin: -16px auto 10px auto;
    border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
    display: inline-block;
    padding: 8px;
    margin: 0;
    background-color: #fff;
}

/* Password Strength Directive */
.password-strength-indicator {
    position: absolute;
    top: 18px;
    right: 0;
    width: 5px;
    padding: 0 15px;
}

.password-strength-indicator span {
    display: block;
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
    background: #ebeef1;
    border-radius: 5px;
}

/* Social Buttons */

.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
    color: #fff;
    background-color: #cb3927;
}

/* Navbar fixes for BS4 Alpha */
.brand-mobile {
    margin-top: 4px;
    z-index: -1;
}

.brand-toggler {
    z-index: 100;
}

.navbar-brand {
    float: none;
}

.navbar-nav .nav-item {
    float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
    margin-left: 0;
}
.navbar-nav .nav-link {
    text-align: center;
}
.nav.navbar-nav.pull-xs-right {
    float: none !important;
}

.brand-mobile {
    width: 89%;
}

@media (min-width: 62em) {
    .navbar-brand {
        float: left;
    }
    .navbar-nav .nav-item {
        float: left;
    }
    .navbar-divider,
    .navbar-nav .nav-item+.nav-item,
    .navbar-nav .nav-link + .nav-link {
        margin-left: 1rem;
    }
    .navbar-nav .nav-link {
        text-align: inherit;
        font-size: 1rem;
    }
    .nav.navbar-nav.pull-xs-right {
        float: right !important;
    }
}