<div class="container">
    <div class="row">
        <div class="center-form">
            <div>
                <div class="page-header">
                    <h1 class="text-center">Sign Up</h1>
                </div>
                <form method="post" ng-submit="signup.signup()" name="signup.signupForm">
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signup.signupForm.displayName.$invalid && signup.signupForm.displayName.$dirty }">
                        <input class="form-control input-lg" type="text" name="displayName" ng-model="signup.user.displayName" placeholder="Name" required autofocus>
                        <span class="ion-person form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signup.signupForm.displayName.$dirty" ng-messages="signup.signupForm.displayName.$error">
                            <div ng-message="required">You must enter your name.</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signup.signupForm.email.$invalid && signup.signupForm.email.$dirty }">
                        <input class="form-control input-lg" type="email" id="email" name="email" ng-model="signup.user.email" placeholder="Email" required>
                        <span class="ion-at form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signup.signupForm.email.$dirty" ng-messages="signup.signupForm.email.$error">
                            <div ng-message="required">Your email address is required.</div>
                            <div ng-message="email">Your email address is invalid.</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signup.signupForm.password.$invalid && signup.signupForm.password.$dirty }">
                        <input password-strength class="form-control input-lg" type="password" name="password" ng-model="signup.user.password" placeholder="Password" required>
                        <span class="ion-key form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signup.signupForm.password.$dirty" ng-messages="signup.signupForm.password.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : signup.signupForm.confirmPassword.$invalid && signup.signupForm.confirmPassword.$dirty }">
                        <input password-match="signup.user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="signup.user.confirmPassword" placeholder="Confirm Password">
                        <span class="ion-key form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="signup.signupForm.confirmPassword.$dirty" ng-messages="signup.signupForm.confirmPassword.$error">
                            <div ng-message="compareTo">Password must match.</div>
                        </div>
                    </div>
                    <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>
                    <button type="submit" ng-disabled="signup.signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button>
                    <br/>
                    <p class="text-center text-muted">Already have an account? <a href="" ui-sref="login">Log in now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>