<div id="dashboard">

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-xs-center">
            <h1>Dashboard <small>Manage contacts</small></h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Type to search" ng-model="dashboard.search">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <a ui-sref="newContact" type="button" class="btn btn-lg btn-primary col-xs-12">
                    <i class="fa fa-user-plus fa-fw"></i>&nbsp; Add new Contact
                </a>
            </div>
        </div>

        <p class="lead opacity50 m-t-2" ng-if="dashboard.contacts.length == 0">
            <em><i class="fa fa-question-circle"></i>&nbsp;Start adding contacts by pressing the "Add new contact button"</em>
        </p>

        <section id="contacts" class="m-t-2">
            <div class="card-columns">
                <div ng-repeat="contact in dashboard.contacts | filter:dashboard.search" ng-click="dashboard.editContact(contact)">
                    <div class="contact card" scale-panel>
                        <div class="card-header">
                            <span class="card-title">{{ contact.name + " " + contact.lastname }}</span>
                        </div>
                        <div class="card-block">
                            <p class="contact-row" ng-if="contact.addresses[0]">
                                <i class="fa fa-map-marker fa-fw"></i>
                                <span> {{ contact.addresses[0].city + " " + contact.addresses[0].state + " " + contact.addresses[0].postalCode }}</span>
                            </p>
                            <p class="contact-row" ng-if="!contact.addresses[0]">
                                <em>( empty address )</em>
                            </p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item contact-row" ng-if="contact.phones[0]">
                                <i class="fa fa-phone fa-fw"></i>
                                <span>{{ contact.phones[0].number }}</span>
                            </li>
                            <li class="list-group-item contact-row" ng-if="contact.emails[0]">
                                <i class="fa fa-envelope fa-fw"></i>
                                <span>{{ contact.emails[0].email }}</span>
                            </li>
                            <li class="list-group-item contact-row" ng-if="contact.web">
                                <i class="fa fa-internet-explorer fa-fw"></i>
                                <span>{{ contact.web }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>