<div id="home">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="col-md-2 text-xs-center">
                <i class="fa fa-users fa-2x"></i>
            </div>
            <div class="col-md-10 text-xs-center">
                <h1 class="display-4">Welcome to Contact Manager!!</h1>
                <p class="lead">The application for managing your personal contacts</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card text-xs-center">
                    <h3 class="card-header"><i class="fa fa-dashboard"></i> Dashboard</h3>
                    <div class="card-block">
                        <p>Managing your contacts never was easier. Check the awesome dashboard and find your favourite contacts</p>
                    </div>
                </div>
                <div class="card text-xs-center">
                    <h3 class="card-header"><i class="fa fa-user"></i> Add new contacts</h3>
                    <div class="card-block">
                        <p>You can add personal information, phones, mails and addresses. The incredible add contact form allow you addings contacts quick and easy</p>
                    </div>
                </div>
                <div class="card text-xs-center">
                    <h3 class="card-header"><i class="fa fa-pencil"></i> Contact</h3>
                    <div class="card-block">
                        <p>If you have any questions please don´t hesitate contacting with me</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
