<div id="home">

    <div class="jumbotron">
        <div class="container">
            <div class="col-md-2 text-center">
                <i class="fa fa-users fa-2x"></i>
            </div>
            <div class="col-md-10 text-center">
                <h1>Welcome to Contact Manager!!</h1>
                <p>The application for managing your personal contacts</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="heading col-md-4 mt20">
                <h2><i class="fa fa-dashboard"></i>&nbsp;Dashboard</h2>
                <p>Managing your contacts never was easier. Check the awesome dashboard and find your favourite contacts</p>
                <p><a class="btn btn-primary col-md-12" href="" ui-sref="dashboard" role="button">Go to the dashboard now</a></p>
            </div>
            <div class="heading col-md-4 mt20">
                <h2><i class="fa fa-user"></i>&nbsp;Add new contacts</h2>
                <p>You can add personal information, phones, mails and addresses. The incredible add contact form allow you addings contacts quick and easy</p>
                <p><a class="btn btn-primary col-md-12" href="" ui-sref="newContact" role="button">Add new contact now</a></p>
            </div>
            <div class="heading col-md-4 mt20">
                <h2><i class="fa fa-pencil"></i>&nbsp;Contact</h2>
                <p>If you have any questions please don´t hesitate contacting with me</p>
                <p><a class="btn btn-primary col-md-12" href="" ui-sref="about" role="button">Check contact details</a></p>
            </div>
        </div>
    </div>

</div>
